  /* MAIN CSS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .1s linear;
  }

  a {
    color: inherit;
  }

  .zoom:hover{
    transform: scale(1.12);
  }

  .home-text02 {
    top: 14px;
    left: 1200px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    display: inline-block;
    background-color: #da3a53;
    align-content: center;
    width: 176px;
    height: 60px;
    text-align: center;
    border-radius: 40px;
  }

  .masuk {
    line-height: 60px;
    vertical-align: middle;
  }

  /* MAIN CSS FINISH */

  /* ANIMATION START */
  .navbar a:hover {
    color: #DA3A53;
    border-bottom: .2rem solid #DA3A53;
    padding: .5rem 0;
  }


  .home-text02:hover {
    background-color: #b63549;
    cursor: pointer;
  }

  .home-text02:active {
    top: 2px;
  }

  @keyframes pop-up {
    0% { transform: translateY(50px) scale(0); opacity: 0; }
    100% { transform: translateY(0px) scale(1); opacity: 1; }
  } 

  .pop {
    transform: translateY(50px) scale(0);
    opacity: 0;
    animation: pop-up 0.6s cubic-bezier(0.27,0.53,0.28,1.58) forwards;
  }
  /* ANIMATION FINISH */

/* SCROLLBAR START */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
          box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #444444;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}
/* SCROLLBAR FINISH */
  body {
    font-family: 'Poppins';
    scroll-behavior: smooth;
  }

  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #f9d8e18f;
  }

  .home-beranda {
    width: 100%;
    height: 1428px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1512px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
    background-color: transparent;
  }

  .home-bxplaycircle {
    top: -18px;
    left: -68px;
    width: 65px;
    height: 65px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-text28:hover {
    transform: translateY(6px)
  }



  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .home-undrawmedicineb1ol21 {
    top: 226px;
    left: 821px;
    width: 602px;
    height: 427px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
    animation: float 6s ease-in-out infinite;
  }

  .home-group467 {
    top: 46px;
    left: 89px;
    width: 1338px;
    height: 86px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }

  .home-text {
    top: 27px;
    left: 656px;
    color: rgba(0, 0, 0, 1) !important;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .home-text02 {
    top: 14px;
    left: 1200px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    display: inline-block;
    background-color: #da3a53;
    align-content: center;
    width: 176px;
    height: 60px;
    text-align: center;
    border-radius: 40px;
  }

  .home-text04 {
    top: 27px;
    left: 469px;
    color: rgba(218, 58, 83, 1) !important;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .home-text06 {
    top: 27px;
    left: 821px;
    color: rgba(0, 0, 0, 1) !important;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .home-text08 {
    top: 27px;
    left: 979px;
    color: rgba(0, 0, 0, 1) !important;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .home-group466 {
    top: 0px;
    left: 0px;
    width: 305px;
    height: 86px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }

  .home-text10 {
    top: 7px;
    left: 52px;
    color: rgba(63, 61, 61, 1) !important;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .home-text11 {
    color: rgba(218, 58, 83, 1);
  }

  .home-image6 {
    top: 0px;
    left: 0px;
    width: 49px;
    height: 86px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
  }

  .home-text13 {
    top: 226px;
    left: 89px;
    color: rgba(63, 61, 61, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text18 {
    top: 386px;
    left: 92px;
    color: rgba(97, 97, 97, 1);
    width: 636px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: justified;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text20 {
    top: 889px;
    left: 391px;
    color: rgba(97, 97, 97, 1);
    width: 731px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text22 {
    top: 1205px;
    left: 88px;
    color: rgba(97, 97, 97, 1);
    width: 409px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text24 {
    top: 1205px;
    left: 1013px;
    color: rgba(97, 97, 97, 1);
    width: 409px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-rectangle276 {
    top: 525px;
    left: 89px;
    width: 256px;
    height: 58px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 60px;
    margin-bottom: 0;
  }

  .home-text26 {
    top: 525px;
    left: 89px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    width: 256px;
    height: 58px;
    background-color: #da3a53;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
  }

  .home-text26 span {
    line-height: 58px;
    vertical-align: middle;
  }

  .home-text26:hover {
    background-color: #b63549;
    cursor: pointer;
    transform: translateY(6px)
  }

  .home-text26:active {
    top: 530px;
  }

  .home-text28 {
    top: 541px;
    left: 459px;
    color: rgba(97, 97, 97, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text30 {
    top: 819px;
    left: 502px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-rectangle277 {
    top: 758px;
    left: 639px;
    width: 235px;
    height: 46px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 40px;
    margin-bottom: 0;
  }

  .home-text32 {
    top: 760px;
    color: rgba(218, 58, 83, 1);
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    width: 235px;
    height: 46px;
    background-color: #f9d8e1;
    border-radius: 40px;
    left: calc(50% - (225px / 2));
  }

  .home-text32 span {
    line-height: 46px;
    vertical-align: middle;
  }

  .home-ellipse111 {
    top: 1060px;
    left: 236px;
    width: 91px;
    height: 91px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-ellipse113 {
    top: 1060px;
    left: 1161px;
    width: 91px;
    height: 91px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-newspaper-f-i-l-l0wght400g-r-a-d0opsz481 {
    top: 1086px;
    left: 262px;
    width: 40px;
    height: 40px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-text34 {
    top: 1163px;
    left: 250px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text36 {
    top: 1163px;
    left: 1147px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text38 {
    top: 1278px;
    left: 213px;
    color: rgba(218, 58, 83, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text40 {
    top: 1278px;
    left: 1144px;
    color: rgba(218, 58, 83, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text42 {
    top: 1205px;
    left: 552px;
    color: rgba(97, 97, 97, 1);
    width: 409px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-ellipse112 {
    top: 1060px;
    left: 700px;
    width: 91px;
    height: 91px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-text47 {
    top: 1163px;
    left: 707px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text49 {
    top: 1278px;
    left: 670px;
    color: rgba(218, 58, 83, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-forum-f-i-l-l0wght400g-r-a-d0opsz481 {
    top: 1086px;
    left: 726px;
    width: 42px;
    height: 42px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-healthandsafety-f-i-l-l0wght400g-r-a-d0opsz481 {
    top: 1083px;
    left: 1184px;
    width: 48px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-chevronright-f-i-l-l0wght400g-r-a-d0opsz481 {
    top: 6px;
    left: 195px;
    width: 48px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-arrowforward-f-i-l-l0wght400g-r-a-d0opsz481 {
    width: 28px;
    height: 28px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-arrowforward-f-i-l-l0wght400g-r-a-d0opsz482 {
    width: 28px;
    height: 28px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-arrowforward-f-i-l-l0wght400g-r-a-d0opsz483 {
    width: 28px;
    height: 28px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }