  /* MAIN CSS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .1s linear;
  }

  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  .zoom:hover{
    transform: scale(1.12);
    cursor: pointer;
  }

  .home-text02 {
    top: 14px;
    left: 1200px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    display: inline-block;
    background-color: #da3a53;
    align-content: center;
    width: 176px;
    height: 60px;
    text-align: center;
    border-radius: 40px;
  }

  .masuk {
    line-height: 60px;
    vertical-align: middle;
  }

  /* MAIN CSS FINISH */

  /* ANIMATION START */
  .navbar a:hover {
    color: #DA3A53 !important;
    border-bottom: .2rem solid #DA3A53;
    padding: .5rem 0;
  }


  .home-text02:hover, .tombol:hover {
    background-color: #b63549 !important;
    cursor: pointer;
  }

  @keyframes pop-up {
    0% { transform: translateY(50px) scale(0); opacity: 0; }
    100% { transform: translateY(0px) scale(1); opacity: 1; }
  } 

  .pop {
    transform: translateY(50px) scale(0);
    opacity: 0;
    animation: pop-up 0.6s cubic-bezier(0.27,0.53,0.28,1.58) forwards;
  }
  /* ANIMATION FINISH */

/* SCROLLBAR START */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
          box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #444444;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}
/* SCROLLBAR FINISH */
  body {
    font-family: 'Poppins';
    scroll-behavior: smooth;
  }

  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    /* background-color: #f9d8e18f; */
  }

  .home-beranda {
    margin-top: 4rem;
    border-radius: 20px;
    width: 100%;
    height: 1428px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1512px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    /* border-radius: 0px 0px 0px 0px; */
    background-color: #fff;
    z-index: 2;
}

  .home-bxplaycircle {
    top: -18px;
    left: -68px;
    width: 65px;
    height: 65px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-text28:hover {
    transform: translateY(6px)
  }



  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .home-undrawmedicineb1ol21 {
    top: 226px;
    left: 821px;
    width: 602px;
    height: 427px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
    animation: float 6s ease-in-out infinite;
  }

  .home-group467 {
    top: 46px;
    left: 89px;
    width: 1338px;
    height: 86px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }

  .home-text {
    top: 27px;
    left: 656px;
    color: rgba(0, 0, 0, 1) !important;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .home-text02 {
    top: 14px;
    left: 1200px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    display: inline-block;
    background-color: #da3a53;
    align-content: center;
    width: 176px;
    height: 60px;
    text-align: center;
    border-radius: 40px;
  }

  .home-text04 {
    top: 27px;
    left: 469px;
    color: rgba(218, 58, 83, 1) !important;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .home-text06 {
    top: 27px;
    left: 821px;
    color: rgba(0, 0, 0, 1) !important;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .home-text08 {
    top: 27px;
    left: 979px;
    color: rgba(0, 0, 0, 1) !important;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .home-group466 {
    top: 0px;
    left: 0px;
    width: 305px;
    height: 86px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }

  .home-text10 {
    top: 7px;
    left: 52px;
    color: rgba(63, 61, 61, 1) !important;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .home-text11 {
    color: rgba(218, 58, 83, 1);
  }

  .home-image6 {
    top: 0px;
    left: 0px;
    width: 49px;
    height: 86px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
  }

  .home-text13 {
    top: 226px;
    left: 89px;
    color: rgba(63, 61, 61, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text18 {
    top: 386px;
    left: 92px;
    color: rgba(97, 97, 97, 1);
    width: 636px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: justified;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text20 {
    top: 889px;
    left: 391px;
    color: rgba(97, 97, 97, 1);
    width: 731px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text22 {
    top: 1205px;
    left: 88px;
    color: rgba(97, 97, 97, 1);
    width: 409px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text24 {
    top: 1205px;
    left: 1013px;
    color: rgba(97, 97, 97, 1);
    width: 409px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-rectangle276 {
    top: 525px;
    left: 89px;
    width: 256px;
    height: 58px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 60px;
    margin-bottom: 0;
  }

  .home-text26 {
    top: 525px;
    left: 89px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    width: 256px;
    height: 58px;
    background-color: #da3a53;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
  }

  .home-text26 span {
    line-height: 58px;
    vertical-align: middle;
  }

  .home-text26:hover {
    background-color: #b63549;
    cursor: pointer;
    transform: translateY(6px)
  }

  .home-text26:active {
    top: 530px;
  }

  .home-text28 {
    top: 541px;
    left: 459px;
    color: rgba(97, 97, 97, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text30 {
    top: 819px;
    left: 502px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-rectangle277 {
    top: 758px;
    left: 639px;
    width: 235px;
    height: 46px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 40px;
    margin-bottom: 0;
  }

  .home-text32 {
    top: 760px;
    color: rgba(218, 58, 83, 1);
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    width: 235px;
    height: 46px;
    background-color: #f9d8e1;
    border-radius: 40px;
    left: calc(50% - (225px / 2));
  }

  .home-text32 span {
    line-height: 46px;
    vertical-align: middle;
  }

  .home-ellipse111 {
    top: 1060px;
    left: 236px;
    width: 91px;
    height: 91px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-ellipse113 {
    top: 1060px;
    left: 1161px;
    width: 91px;
    height: 91px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-newspaper-f-i-l-l0wght400g-r-a-d0opsz481 {
    top: 1086px;
    left: 262px;
    width: 40px;
    height: 40px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-text34 {
    top: 1163px;
    left: 250px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text36 {
    top: 1163px;
    left: 1147px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text38 {
    top: 1278px;
    left: 213px;
    color: rgba(218, 58, 83, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text40 {
    top: 1278px;
    left: 1144px;
    color: rgba(218, 58, 83, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text42 {
    top: 1205px;
    left: 552px;
    color: rgba(97, 97, 97, 1);
    width: 409px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-ellipse112 {
    top: 1060px;
    left: 700px;
    width: 91px;
    height: 91px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-text47 {
    top: 1163px;
    left: 707px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-text49 {
    top: 1278px;
    left: 670px;
    color: rgba(218, 58, 83, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .home-forum-f-i-l-l0wght400g-r-a-d0opsz481 {
    top: 1086px;
    left: 726px;
    width: 42px;
    height: 42px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-healthandsafety-f-i-l-l0wght400g-r-a-d0opsz481 {
    top: 1083px;
    left: 1184px;
    width: 48px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-chevronright-f-i-l-l0wght400g-r-a-d0opsz481 {
    top: 6px;
    left: 195px;
    width: 48px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-arrowforward-f-i-l-l0wght400g-r-a-d0opsz481 {
    width: 28px;
    height: 28px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-arrowforward-f-i-l-l0wght400g-r-a-d0opsz482 {
    width: 28px;
    height: 28px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  .home-arrowforward-f-i-l-l0wght400g-r-a-d0opsz483 {
    width: 28px;
    height: 28px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }

  /* HOME V2 */

  
  .home-v2-banner-getstarted {
    align-self: center;
    width: 100vw;
    max-width: 1512px;
    height: 290px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: 5rem auto;
}
.home-v2-rectangle315 {
  top: 0px;
  left: 0px;
  width: 1272px;
  height: 290px;
  position: absolute;
  border-color: transparent;
  border-radius: 7px;
}
.home-v2-text051 {
  top: 155px;
  left: 95px;
  color: rgba(97, 97, 97, 1);
  width: 934px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text056 {
  top: 97px;
  left: 95px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-rectangle316 {
  top: 106px;
  left: 1050px;
  width: 173px;
  height: 60px;
  position: relative;
  border-radius: 10px;
  background-color: #da3a53;
  text-align: center;
}
.home-v2-text058 {
  top: calc((60px - 28px) / 2);
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
}
.home-v2-maribergabung-section {
  background-color: #FEF8F8;
  width: 1522px;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
}
.home-v2-rectangle314 {
  top: 0px;
  left: 0px;
  width: 1522px;
  height: 996px;
  position: absolute;
  border-color: transparent;
}
.home-v2-image19 {
  top: 284px;
  left: 767px;
  width: 613px;
  height: 586px;
  position: absolute;
  border-color: transparent;
}
.home-v2-text060 {
  top: 73px;
  left: 118px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text062 {
  top: 149px;
  left: 118px;
  color: rgba(0, 0, 0, 1);
  width: 793px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text064 {
  top: 342px;
  left: 173px;
  color: rgba(218, 58, 83, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text066 {
  top: 602px;
  left: 199px;
  color: rgba(218, 58, 83, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text068 {
  top: 342px;
  left: 523px;
  color: rgba(218, 58, 83, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text070 {
  top: 602px;
  left: 525px;
  color: rgba(218, 58, 83, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text072 {
  top: 414px;
  left: 187px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text074 {
  top: 674px;
  left: 199px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text076 {
  top: 414px;
  left: 529px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text078 {
  top: 674px;
  left: 520px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text080 {
  top: 462px;
  left: 115px;
  color: rgba(97, 97, 97, 1);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text085 {
  top: 722px;
  left: 115px;
  color: rgba(97, 97, 97, 1);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text087 {
  top: 462px;
  left: 435px;
  color: rgba(97, 97, 97, 1);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text089 {
  top: 722px;
  left: 435px;
  color: rgba(97, 97, 97, 1);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-testimoni-section-cards {
  width: 1375px;
  height: 613px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin: 5rem auto;
}
.home-v2-rectangle317 {
  top: 143px;
  left: 52px;
  width: 1272px;
  height: 420px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.home-v2-ellipse116 {
  top: 186px;
  left: 630px;
  width: 120px;
  height: 120px;
  position: absolute;
  border-color: transparent;
}
.home-v2-text091 {
  top: 353px;
  left: 563px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-ellipse117 {
  top: 585px;
  left: 597px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.home-v2-ellipse118 {
  top: 585px;
  left: 674px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.home-v2-ellipse119 {
  top: 585px;
  left: 751px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.home-v2-ellipse120 {
  top: 292px;
  left: 1272px;
  width: 103px;
  height: 103px;
  position: absolute;
  border-color: transparent;
}
.home-v2-ellipse121 {
  top: 292px;
  left: 0px;
  width: 103px;
  height: 103px;
  position: absolute;
  border-color: transparent;
}
.home-v2-vector {
  top: 322px;
  left: 1311px;
  width: 26px;
  height: 43px;
  position: absolute;
}
.home-v2-vector1 {
  top: 365px;
  left: 65px;
  width: 26px;
  height: 43px;
  position: absolute;
}
.home-v2-text093 {
  top: 430px;
  left: 102px;
  color: rgba(97, 97, 97, 1);
  width: 1176px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text095 {
  top: 61px;
  left: 531px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-rectangle2771 {
  top: 0px;
  left: 572px;
  width: 235px;
  height: 46px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px;
}
.home-v2-text097 {
  top: 11px;
  left: 637px;
  color: rgba(218, 58, 83, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-arrowright {
  top: 97.68798828125px;
  left: 677px;
  width: 25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0);
}
.home-v2-footer-section {
  left: 0;
  width: 1270px;
  height: 269px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin: auto calc((100vw - 1270px) / 2);
}
.home-v2-group467 {
  top: 0px;
  left: 0px;
  width: 305px;
  height: 86px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-v2-text099 {
  top: 7px;
  left: 52px;
  color: rgb(63 61 61);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-v2-text100 {
  color: rgba(218, 58, 83, 1);
}
.home-v2-image61 {
  top: 0px;
  left: 0px;
  width: 49px;
  height: 86px;
  position: absolute;
  border-color: transparent;
}
.home-v2-text102 {
  top: 109px;
  left: 6px;
  color: rgba(97, 97, 97, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text104 {
  top: 152px;
  left: 6px;
  color: rgba(97, 97, 97, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text106 {
  top: 189px;
  left: 6px;
  color: rgba(97, 97, 97, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text108 {
  top: 19px;
  left: 486px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text110 {
  top: 19px;
  left: 770px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text112 {
  top: 19px;
  left: 977px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text114 {
  top: 109px;
  left: 488px;
  color: rgba(97, 97, 97, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text121 {
  top: 109px;
  left: 773px;
  color: rgba(97, 97, 97, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-text128 {
  top: 87px;
  left: 977px;
  color: rgba(97, 97, 97, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-rectangle2761 {
  top: 167px;
  left: 969px;
  width: 301px;
  height: 58px;
  position: absolute;
  border-color: rgba(97, 97, 97, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.home-v2-text133 {
  top: 182px;
  left: 983px;
  color: rgba(97, 97, 97, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-v2-rectangle318 {
  top: 167px;
  left: 1209px;
  width: 61px;
  height: 58px;
  position: absolute;
  border-color: transparent;
  border-radius: 0 10px 10px 0;
}
.home-v2-fluentsend24filled {
  top: 179px;
  left: 1226px;
  width: 32px;
  height: 32px;
  position: absolute;
}
@media(max-width: 1600px) {
  .home-v2-rectangle315 {
    width: 1356px;
    height: 373px;
  }
}


.area {
  background: #f9d8e18f;
  background: -webkit-linear-gradient(to left, #da3a53, #f9d8e18f);
  width: 100%;
  height: 100vh;
  z-index: -2;
  position: fixed;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(225 7 7 / 20%);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* Testimonial */

.heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading{
  color: #000;
}
.heading:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}
.white-heading:after {
  background: url("../../tel_assets/head.png");
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #000;
}
/*-----Testimonial-------*/

.testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  background: url(img/testimonial.bg-top.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.testimonial {
  min-height: 375px;
  position: relative;
  background-color: transparent;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
      background-size: cover;
}
#testimonial4 .carousel-inner:hover{
cursor: -moz-grab;
cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
cursor: -moz-grabbing;
cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
left: 0;
margin: 0;
width: 100%;
font-size: 0;
height: 20px;
bottom: 15px;
padding: 0 5px;
cursor: e-resize;
overflow-x: auto;
overflow-y: hidden;
position: absolute;
text-align: center;
white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
padding: 0;
width: 14px;
height: 14px;
border: none;
text-indent: 0;
margin: 2px 3px;
cursor: pointer;
display: inline-block;
background: #ffffff;
-webkit-border-radius: 100%;
border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
padding: 0;
width: 14px;
height: 14px;
border: none;
margin: 2px 3px;
background-color: #9dd3af;
-webkit-border-radius: 100%;
border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
background: #eeeeee;
-webkit-border-radius: 0;
border-radius: 0;
}

.testimonial4_control_button .carousel-control{
top: 175px;
opacity: 1;
width: 40px;
bottom: auto;
height: 40px;
font-size: 10px;
cursor: pointer;
font-weight: 700;
overflow: hidden;
line-height: 38px;
text-shadow: none;
text-align: center;
position: absolute;
background: transparent;
border: 2px solid #ffffff;
text-transform: uppercase;
-webkit-border-radius: 100%;
border-radius: 100%;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
left: 7%;
top: 50%;
right: auto;
}
.testimonial4_control_button .carousel-control.right{
right: 7%;
top: 50%;
left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
color: #000;
background: #fff;
border: 2px solid #fff;
}

.testimonial4_header{
top: 0;
left: 0;
bottom: 0;
width: 550px;
display: block;
margin: 30px auto;
text-align: center;
position: relative;
}
.testimonial4_header h4{
color: #000;
font-size: 30px;
font-weight: 600;
position: relative;
letter-spacing: 1px;
text-transform: uppercase;
}

.testimonial4_slide{
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 70%;
margin: auto;
padding: 20px;
position: relative;
text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
  color: #000;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
color: #000;
font-size: 22px;
}

.testimonial .carousel {
padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
/* ------testimonial  close-------*/

.footer-2 {
    position: relative;
    height: 400px;
    width: 100%;
    /* overflow: hidden; */
    display: block;
    /* margin: auto; */
    padding: 5rem;
    border-radius: 20px;
    background-color: #f9cdd1;
}